# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.mk

.build-debug/
.codelite
hardTime_planner/hardTime_planner.txt
hardTime_textworld/hardTime_textworld.txt
htn_planner/htn_planner.txt